@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<style>
    .center {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .undercenter {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .aftercenter {
        position: absolute;
        left: 0;
        top: 60%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    body {
        background-image: url('http://www.bookpublisher.co.il/wp-content/uploads/2016/02/%D7%A1%D7%A4%D7%A8%D7%99-%D7%A0%D7%99%D7%91-%D7%A8%D7%A7%D7%A22.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .button:hover {
        background-color: green;
    }
</style>
<body>
    <button class="center">
        Centered</div>
        <button class="undercenter">הוספת משתמש</button>
        <button class="aftercenter">גורם מסייע</button>

</body>
</html>
